body {
    /* The background image */
background-image: url('https://cdn.glitch.com/ac8acb68-7f8f-408a-9a2c-d1c5e7be3fc7%2F3840x2160_night.png?v=1584643034957');

/* Set a specified height, or the minimum height for the background image */
min-height: 500px;

/* Set background image to fixed (don't scroll along with the page) */
background-attachment: fixed;

/* Center the background image */
background-position: center;

/* Set the background image to no repeat */
background-repeat: no-repeat;

/* Scale the background image to be as large as possible */
background-size: cover;
}
@media screen and (min-width: 601px) {
  h1 {
      color: white;
      font-family: 'Roboto', sans-serif;
      font-size: 350%;
  }
  h2 {
      color: white;
      font-family: 'Roboto', sans-serif;
      font-size: 200%;
  }
  p {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 200%;
}
}

@media screen and (max-width: 600px) {
  h1 {
      color: white;
      font-family: 'Roboto', sans-serif;
      font-size: 6vw;
  }
  h2 {
      color: white;
      font-family: 'Roboto', sans-serif;
      font-size: 4vw;
  }
  p {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 4vw;
}
li {
  font-size: 5vw;
}
}