body {
	background-color: rgb(45, 45, 45);
}

h1 {
	font-family: "arial";
	font-size: 300%;
	color: white;
}

p {
	font-family: "arial";
	color: white;
}

a {
	font-family: "arial";
	color: white;
}

.button {
	background-color: black; 
	border-style: solid;
	border-width: 3px;
	border-color: gray;
	color: white;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

#header1 {
	background-image: url("https://cdn.glitch.com/898b1045-12bb-4aa1-8f45-3272e325121f%2Fraspberrypi.jpg?v=1609218713407");
	background-size: 130%;
	background-position: center;
	border-style: solid;
	border-width: 5px;
	border-color: blue;
}

