/*Background*/
body {
		 background: rgb(26, 26, 26); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
		}
@media (max-width: 500px;)
}
/*Buttons*/
.btn-lg, .btn-group-lg > .btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}
.btn-secondary {
    color: #292b2c;
    background-color: #006aff;
    border-color: #013987;
}
.btn {
    display: inline-block;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-family: arial;
    border: 3px solid #013987 !important;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: 0.25rem;
    transition: all 0.2s ease-in-out;
}
/*Blue Boxes*/
.header {
    margin: 0 auto;
    width: 75%;
    background-color: #006aff;
    border: 3px solid #013987 !important;
    border-radius: 3px;
    padding: 10px;
}
.body {
    margin: 0 auto;
    width: 50%;
    background-color: #006aff;
    border: 3px solid #013987 !important;
    border-radius: 3px;
    padding: 10px;
}
/*Text*/
.regulartext {
font-family: arial;
font-size: 100%;
color: white;
}
/*Links Bar/Navigator */
.links {
    position: fixed;
    z-index: 1;
    top: 0;
	left: 150px;
    width: 75%;
	padding: 10px;
	margin: 0 auto;
	  border: 3px solid #013987 !important;
    border-radius: 3px;
}